
server/initDB.js

server/package.json

README.md

README.md

server/config.js

client/test/unit/common/security/security.spec.js

client/test/unit/app/dashboard/dashboard.spec.js

client/src/common/services/crudRouteProvider.js

client/src/common/security/security.js

client/src/common/directives/crud/edit.js

client/src/app/projects/projects.js

client/src/app/projects/projects-list.tpl.html

client/src/app/projects/productbacklog/productbacklog.js

client/src/app/app.js

client/src/app/admin/users/admin-users.js

client/src/app/admin/users/admin-users-edit.js

*.js

*.js

client/gruntFile.js

.travis.yml

client/src/common/services/crud.js

client/test/config/unit.js

client/test/unit/common/directives/gravatar.spec.js

client/vendor/angular/angular.js
